.site-header{
    margin:0;
    padding:0;
}

.nav-container{
    position:relative;
    width: 100%;
    height: 80vh;
    margin:0;
    padding:0;
    overflow: hidden;
}

.first-box{
    position:absolute;
    float:left;
    width: 100%;
    height: 100%;
    left: 0%;
    background: pink;
    margin:0;
    padding:0;
    animation-name: first-box;
    animation-duration: 20s;
    animation-timing-function: cubic-bezier(0,0,0,1);
  animation-iteration-count: infinite;
  
}

.second-box{
    position:absolute;
    float:left;
    width: 100%;
    height: 100%;
    left: 100%;
    background: green;
    margin:0;
    padding:0;
    animation-name: second-box;
    animation-duration: 20s;
    animation-timing-function: cubic-bezier(0,0,0,1);
  animation-iteration-count: infinite;
  
}

.third-box{
    position:absolute;
    float:left;
    width: 100%;
    height: 100%;
    left:100%;
    background: yellow;
    margin:0;
    padding:0;
    animation-name: third-box;
    animation-duration: 20s;
    animation-timing-function: cubic-bezier(0,0,0,1);
  animation-iteration-count: infinite;
}

.fourth-box{
    position:absolute;
    float:left;
    width: 100%;
    height: 100%;
    left:100%;
    background: yellow;
    margin:0;
    padding:0;
    animation-name: fourth-box;
    animation-duration: 20s;
    animation-timing-function: cubic-bezier(0,0,0,1);
  animation-iteration-count: infinite;
}

.img-box{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:1;
}

.blur-screen{
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity:0.8;
    z-index:2;
}

.blur-screen-header{
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity:0.9;
    z-index:0;
}

.title-box-container{
    position: absolute;
    width: 80%;
    height: 25%;
    top: 15%;
    left:10%;
    z-index: 3;
    font-size: 8vw;
    text-align: center;
    color: lightgrey;
    font-family: 'Sansita Swashed', cursive;
    opacity: 0.6;
}

.description-box-container{
    position: absolute;
    width: 80%;
    height: 25%;
    top: 45%;
    left:10%;
    z-index: 3;
    font-size: 1.5vw;
    text-align: center;
    color: lightgrey;
    font-family: 'Sansita Swashed', cursive;
    opacity: 0.6;
}

@keyframes first-box {
    0% {left: 0%; opacity:1;}
    25% {left: 100%; opacity:1;}
    50% {left: 100%; opacity:0;}
    75% {left: -100%; opacity:0;}
}

@keyframes second-box {
    0% {left: -100%; opacity:0;}
    25% {left: 0%; opacity:1;}
    50% {left: 100%; opacity:1;}
    75% {left: 100%; opacity:0;}
}

@keyframes third-box {
    0% {left: 100%; opacity:0;}
    25% {left: -100%; opacity:0;}
    50% {left: 0%; opacity:1;}
    75% {left: 100%; opacity:1;}
}

@keyframes fourth-box {
    0% {left: 100%; opacity:1;}
    25% {left: 100%; opacity:0;}
    50% {left: -100%; opacity:0;}
    75% {left: 0%; opacity:1;}
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Sansita+Swashed:wght@800&display=swap');